<!DOCTYPE html>
<html ng-app="app">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/CVController.js"></script>
    <script src="data.json"></script>
    <link rel="stylesheet" type="text/css" href="css/layout2.css">
    <meta charset="UTF-8">
    <title>CV</title>
</head>

<body>
    <div ng-controller="CVController">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{data.name}}</h1>
                    <div class="panel panel-primary">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" heading="Contact information" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                <div>
                                    <label>Address:</label> {{data.contactInformation.address}}</div>
                                <div>
                                    <label>Telphone Number:</label> <a href="tel:{{data.contactInformation.telephoneNumber}}">{{data.contactInformation.telephoneNumber}}</a></div>
                                <div>
                                    <label>Email Address:</label> <a href="mailto:{{data.contactInformation.emailAddress}}">{{data.contactInformation.emailAddress}}</a></div>
                            </div>
                        </uib-accordion>
                    </div>
                    <h2>Work Experience</h2>
                    <div ng-repeat="job in data.workExperience">
                        <div class="panel panel-primary">
                            <uib-accordion close-others="oneAtATime">
                                <div uib-accordion-group class="panel-default" is-open="status.open">
                                    <uib-accordion-heading>{{job.company}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> </uib-accordion-heading>
                                    <p class="pull-right">{{job.jobDetails.fromDate}}-{{job.jobDetails.toDate}}</p>
                                    <p>{{job.jobDetails.position}}</p>
                                    <ul ng-repeat="details in job.jobDetails.positionDetails">
                                        <li>{{details.text}}</li>
                                        <ul ng-repeat="item in details.items">
                                            <li>{{item.text}}</li>
                                        </ul>
                                    </ul>
                                </div>
                            </uib-accordion>
                        </div>
                    </div>
                    <h2>Work Skills</h2>
                    <div ng-repeat="skill in data.workSkills">
                        <div class="panel panel-primary">
                            <uib-accordion close-others="oneAtATime">
                                <div uib-accordion-group class="panel-default" is-open="status.open">
                                    <uib-accordion-heading>{{skill.skillType}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> </uib-accordion-heading>
                                    <div class="panel-body">
                                        <ul ng-repeat="list in skill.skillList">
                                            <li>{{list.text}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </uib-accordion>
                        </div>
                    </div>
                    <h2>Education</h2>
                    <div ng-repeat="edu in data.education">
                        <div class="panel panel-primary">
                            <uib-accordion close-others="oneAtATime">
                                <div uib-accordion-group class="panel-default" is-open="status.open">
                                    <uib-accordion-heading>{{edu.name}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> </uib-accordion-heading>
                                    <div class="panel-body">
                                        <p>{{edu.fromDate}}</p>
                                        <p>{{edu.toDate}}</p>
                                        <div ng-repeat="qual in edu.qualification">
                                            <p>{{qual.name}}</p>
                                            <p>{{qual.text}}</p>
                                        </div>
                                    </div>
                                </div>
                            </uib-accordion>
                        </div>
                    </div>
                    <h2>Personal Interests</h2>
                    <div class="panel panel-primary personal">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" is-open="status.open">
                                <uib-accordion-heading>Hobbies and Interests<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> </uib-accordion-heading>
                                <div class="panel-body">{{data.personalInterests}}</div>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>